@import url(http://fonts.googleapis.com/css?family=Raleway:300,500);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
  background: #222 url(https://silvrback.s3.amazonaws.com/uploads/52319cc5-df9f-407d-80d9-1e3817aa64b1/totem_large.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	color: #222;
	font-family: 'Raleway', sans-serif;
	font-size: large;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
}

header,
footer {
	color: #fff;
  text-shadow: 1px 1px 1px #000;
	padding: 65px 0;
	text-align: center;
}

header,
footer,
section {
  margin: 0 auto;
  max-width: 750px;
  width: 75;
}

header menuitem,
footer menuitem {
  margin: 0 20px;
}

footer i {
  font-size: 25px;
  margin: 0 10px;
}

h1 {
	font-size: xx-large;
}
h3 {
	font-style: italic;
	font-weight: 300;
}
h4 {
  font-style: italic;
  font-weight: 200;
}
h1, h2, h3, h4 {
	margin: 0;
}

.content-wrapper {
  background: #fff;
	padding: 100px 0;
}

.hidden {
	display: none;
}

/* Home */
.Home a {
  color: #fff;
  text-decoration: none;
}
.Home a:hover {
  text-decoration: underline;
}
.Home__Avatar {
	border: 5px solid #fff;
	border-radius: 200px;
	height: 100px;
	width: 100px;
}
.Home__ArticleList {
	margin: -50px 0;
	padding-left: 0;
	list-style: none;
}
.Home__ArticleList__Item {
	padding: 50px 0;
	border-bottom: 1px solid #eee;
}
.Home__ArticleList__Item:last-of-type {
	border: 0 none;
}
.Home__ArticleList__Item a {
	color: inherit;
	text-decoration: none;
}
.Home__ArticleList__Item a:hover {
	text-decoration: underline;
}
.Home__ArticleList__Item time {
	float: right;
}

/* Article */
.Article a {
	border: 0 none;
	color: #fff;
	text-decoration: none;
}
.Article__Avatar {
	border: 2px solid #fff;
	border-radius: 110px;
	height: 55px;
	width: 55px;
	margin-top: 35px;
}
.Article__Header a {
	font-size: medium;
}

.Article__Footer h2 {
	font-size: x-large;
}
.Article__Footer h2 a {
	text-decoration: underline;
}
.Article__Meta {
	color: #999;
	font-style: italic;
}
.Article__Meta > span {
	margin-right: 25px;
}
.Article__Meta i {
	margin: 0 5px;
}
.Article__Meta a {
	color: inherit;
}
.Article__Meta a:hover {
	color: #333;
}

.Article__Meta .ShareSocial {
	float: right;
	margin-right: 0;
}

/* Code inline */
.Article__Markdown {
	margin-bottom: 50px;
}
.Article__Markdown code {
	background: #f7f7f7;
	border-radius: 3px;
	color: #555;
	padding: 2px 5px;
}
/* Code blocks */
.Article__Markdown pre code {
	display: block;
	padding: 15px;
	overflow: auto;
}
.Article__Markdown table {
	border-spacing: 0;
	border-collapse: collapse;
}
.Article__Markdown table tr:nth-child(2n) {
	background-color: #f8f8f8;
}
.Article__Markdown table th,
.Article__Markdown table td {
	border: 1px solid #ddd;
	padding: 6px 12px;
}
.Article__Markdown table tr {
	background: #fff;
}

/* Disqus Thread component */
#disqus_thread {
	border-top: 1px solid #eee;
	margin-top: 50px;
	padding-top: 50px;
}
