@import url(http://fonts.googleapis.com/css?family=Raleway:300,500);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	color: #222;
	font-family: 'Raleway', sans-serif;
	font-size: large;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
}

header {
	margin-bottom: 100px;
}
footer {
	margin-top: 100px;
}

header,
footer {
	background-color: #222;
	color: #fff;
	padding: 65px 0;
	text-align: center;
}

section {
	margin: 0 auto;
	max-width: 750px;
	width: 75%;
}

h1 {
	font-size: xx-large;
}
h3 {
	font-style: italic;
	font-weight: 300;
}
h1, h2, h3 {
	margin: 0;
}

/* Index */
div > header > img {
	border: 5px solid #fff;
	border-radius: 200px;
	height: 100px;
	width: 100px;
}
div > section > ul {
	margin: -50px 0;
	padding-left: 0;
	list-style: none;
}
div > section > ul li {
	padding: 50px 0;
	border-bottom: 1px solid #eee;
}
div > section > ul li:last-of-type {
	border: 0 none;
}
div > section > ul li a {
	color: inherit;
	text-decoration: none;
}
div > section > ul li a:hover {
	text-decoration: underline;
}
div > section > ul li time {
	float: right;
}

/* Article */
article > header img {
	border: 2px solid #fff;
	border-radius: 110px;
	height: 55px;
	width: 55px;
	margin-top: 35px;
}
article a {
	border: 0 none;
	color: #fff;
	text-decoration: none;
}
article > header a {
	font-size: medium;
}

article > footer > h2 {
	font-size: x-large;
}
article > footer > h2 a {
	text-decoration: underline;
}


/* Code inline */
.markdown-body {
	margin-bottom: 50px;
}
.markdown-body code {
	background: #f7f7f7;
	border-radius: 3px;
	color: #555;
	padding: 2px 5px;
}
/* Code blocks */
.markdown-body pre code {
	display: block;
	padding: 15px;
	overflow: auto;
}

.article-meta {
	color: #999;
	font-style: italic;
}
.article-meta > span {
	margin-right: 25px;
}
.article-meta i {
	margin-right: 10px;
}

.article-meta .share-social {
	float: right;
	margin-right: 0;
}
.article-meta a {
	color: inherit;
}
.article-meta a:hover {
	color: #333;
}

.markdown-body table {
	border-spacing: 0;
	border-collapse: collapse;
}
.markdown-body table tr:nth-child(2n) {
	background-color: #f8f8f8;
}
.markdown-body table th,
.markdown-body table td {
	border: 1px solid #ddd;
	padding: 6px 12px;
}
.markdown-body table tr {
	background: #fff;
}


#disqus_thread {
	border-top: 1px solid #eee;
	margin-top: 50px;
	padding-top: 50px;
}
